:root {
  --color-primary: #dd8c1f;
  --color-primary-dark: #724d11;
  --color-secondary: #303030;
  --color-grey: #707070;
  --color-ash: #f2f2f2;
  --color-white: #ffffff;
  --color-black: #000000;
  --radius: 6px;
  --spacing: 2rem;
}

/* Fonts */

@font-face {
  font-family: fontTertiary;
  src: url(../fonts/FiraSans-Regular.ttf);
}

@font-face {
  font-family: fontTertiarySemi;
  src: url(../fonts/FiraSans-SemiBold.ttf);
}

@font-face {
  font-family: fontSecondary;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: fontSecondaryBold;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: fontPrimary;
  src: url(../fonts/Nunito-Regular.ttf);
}

@font-face {
  font-family: fontPrimarySemi;
  src: url(../fonts/Nunito-SemiBold.ttf);
}

@font-face {
  font-family: fontPrimaryBold;
  src: url(../fonts/Nunito-Bold.ttf);
}

/* Resets */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: fontPrimary;
}

a {
  text-decoration: none;
}

input,
textarea {
  font-family: fontPrimary;
  border: none;
}

input:not([type="submit"]),
textarea {
  outline: none;
}

/* Base styles */

.container {
  /*width: 100%;*/
  max-width: 1104px;
  margin: auto;
}

.banner {
  height: min(47vmax, 570px);
  padding: 0 1.5rem;
  /*margin-bottom: 1rem;*/
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-position: center;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  font-family: fontSecondary;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    190deg,
    var(--color-secondary) 30%,
    #724d11 70%
  );
  opacity: 0.75;
  width: 100%;
  height: 100%;
  left: 0;
}

.banner .title {
  /*text-transform: capitalize;*/
  color: var(--color-white);
  font-family: fontTertiary;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  z-index: 2;
}

.banner .subtitle {
  /*text-transform: uppercase;*/
  margin-top: 1rem;
  color: var(--color-primary);
  /*font-size: .9rem;*/
  z-index: 2;
}

.heading {
  margin-bottom: 2rem;
  /*margin-top: 2rem;*/
  padding: 0 1rem;

  font-family: fontSecondary;
  /*font-size: 90%;*/

  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;

  color: var(--color-primary);
}

.btn {
  width: clamp(200px, 100%, 320px); /* minimum, ideal & maximum size */
  border: none;
  padding: 20px 0;
  color: var(--color-white);
  border-radius: var(--radius);
  font-family: fontSecondaryBold;
  font-size: calc(var(--spacing) / 2);
}

.btn.primary {
  background-color: var(--color-primary);
}

.btn.secondary {
  background-color: var(--color-secondary);
}

.icon {
  --size: 16px;
  width: var(--size);
  height: var(--size);
}

.icon svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/*.icon svg .a {
	fill: none;
}*/

.icon.primary svg {
  fill: #c2c2c2;
}

.icon.secondary svg {
  fill: var(--color-primary);
}

.icon.white svg {
  fill: var(--color-white);
}

.social-media {
  display: flex;
}

/* / Navigation bar */

.head {
  padding: 1.5rem 10vw;
  color: var(--color-grey);
}

.head .social-media .icon:not(:last-child) {
  margin-right: 15px;
}

.head .social-media .icon svg {
  -webkit-transition: fill 0.2s ease-in-out;
  -moz-transition: fill 0.2s ease-in-out;
  -ms-transition: fill 0.2s ease-in-out;
  -o-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}

.head .social-media .icon:hover svg {
  fill: var(--color-secondary);
}

.head .logo {
  height: 35px;
  /*margin: 0 auto;*/
}

.head .contact-number {
  display: none;
}

nav {
  background-color: var(--color-secondary);
  padding: calc(var(--spacing) / 1.5);

  height: 100vh;
  width: 75%;
  position: fixed;
  top: 0;

  -webkit-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  z-index: 50;

  /*display: none;*/
}

nav.shadowed {
  box-shadow: 0 3px 6px #000;
}

nav.expanded {
  left: 0%;
}

nav.collapsed {
  left: -100%;
}

nav ul {
  --indicator: 7px;
  /*padding: 1.5rem 0 calc(1.5rem + var(--indicator)) 0;*/
  color: var(--color-ash);
}

nav ul li {
  padding: calc(var(--spacing) / 2);
  list-style-type: none;
}

nav ul li a {
  color: inherit;
  font-size: 0.9em;
  -webkit-transition: color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

nav ul li a.active,
nav ul li a:hover {
  color: var(--color-primary);
}

nav ul li a.active {
  position: relative;
}

/* Footer */

footer .sign-up {
  background-color: var(--color-primary);
  padding: 3rem 1rem;
  color: var(--color-white);
  margin: 0;
  background-image: url("../images/decoratives/sewing-kit.png");
  background-repeat: no-repeat;
  --bgz: auto 50%;
  -webkit-background-size: var(--bgz);
  background-size: var(--bgz);
  background-position: 5% center;
}

footer .sign-up > * {
  text-align: center;
}

footer .sign-up .sub-text {
  margin: 0.5rem auto 2rem auto;
  color: var(--color-white);
  font-size: 1.2rem;
}

footer .sign-up form {
  /*width: 100%;*/
  max-width: 700px;
  margin: auto;
  /*overflow: hidden;*/
}

footer .sign-up form input,
footer .sign-up form textarea {
  --webkit-appearance: none;
  appearance: none;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.72);
  border-radius: var(--radius);
  flex-grow: 1;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

footer .sign-up form textarea {
  resize: vertical;
}

footer .sign-up form input:not([type="submit"]):focus,
footer .sign-up form textarea:focus {
  background-color: #fff;
}

footer .sign-up form input:not([type="submit"])::placeholder {
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -ms-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

footer .sign-up form input:not([type="submit"]):focus::placeholder,
footer .sign-up form textarea:focus::placeholder {
  opacity: 0.3;
}

footer .sign-up form input[type="submit"] {
  width: 100%;
  /*max-width: 300px;*/
  align-self: center;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-secondary);
}

footer .quick-links {
  margin: 0;
  padding: var(--spacing);
}

footer .quick-links .column {
  flex-basis: 270px;
  flex-grow: 1;
  padding: 1rem var(--spacing);
}

footer .quick-links .column > * {
  text-align: center;
  margin: 0.5rem 0;
}

footer .quick-links .column > *:not(.title) {
  font-size: 0.8rem;
  color: var(--color-grey);
}

footer .quick-links .column .title,
footer .quick-links .column .help-number {
  color: var(--color-primary);
}

footer .quick-links .column .title {
  font-size: 1rem;
  position: relative;
  margin: 1rem 0 1.5rem 0;
}

footer .quick-links .column .link:hover {
  color: var(--color-primary);
}

footer .quick-links .column .title::after {
  content: "";
  background-color: var(--color-primary);
  --size: 30px;
  width: var(--size);
  height: 2px;
  position: absolute;
  bottom: -35%;
  left: calc(50% - var(--size) / 2);
}

footer .quick-links .column.shipping picture img,
footer .quick-links .column.shipping img {
  display: block;
  width: 120px;
  margin: 0 auto;
}

footer .copyright {
  background-color: var(--color-secondary);
  margin: 0;
  padding: 1.5rem;
  color: var(--color-grey);
}

footer .copyright > * {
  margin: 0 0.5rem;
}

footer .copyright .signature {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

footer .copyright .social-media > *:not(:last-child) {
  margin-right: 0.5rem;
}

footer .copyright .social-media > * svg {
  -webkit-transition: fill 0.2s ease-in-out;
  -moz-transition: fill 0.2s ease-in-out;
  -ms-transition: fill 0.2s ease-in-out;
  -o-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}

footer .copyright .social-media > *:hover svg {
  fill: var(--color-white);
}

/* Screen Media Queries */

@media screen and (min-width: 768px) {
  .head {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
  }

  .head .icon.hamburger {
    display: none;
  }

  .head > *:not(.logo) {
    display: flex;
  }

  nav {
    position: sticky;
    top: 0;
    height: initial;
    width: 100%;
    /*padding: calc(2rem + var(--indicator)) initial;*/
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  nav ul li {
    padding: 0;
  }

  nav ul li a.active::after {
    content: "";
    position: absolute;

    width: var(--indicator);
    height: var(--indicator);
    border-radius: 50%;

    bottom: -50%;
    left: calc(50% - var(--indicator) * 0.5);
    background-color: currentColor;
  }

  .banner .title {
    font-size: 2.5rem;
  }

  footer .sign-up {
    --bgz: auto 70%;
    background-position-x: 10%;
  }

  footer .quick-links .column > * {
    text-align: unset;
  }

  footer .quick-links .column .title::after {
    left: calc(0%);
  }

  footer .quick-links .column.shipping picture img,
  footer .quick-links .column.shipping img {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  footer .quick-links {
    padding-left: 10%;
    padding-right: 10%;
    /*justify-content: 	space-between;*/
  }
}
