/* Global page classes */

.icon {
  cursor: pointer;
  -webkit-transition: transform var(--duration);
  -moz-transition: transform var(--duration);
  -ms-transition: transform var(--duration);
  -o-transition: transform var(--duration);
  transition: transform var(--duration);
}

.icon:active {
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75);
}

.icon[disabled] svg {
  fill: var(--color-grey);
  opacity: 0.5;
  cursor: default;
}

.icon.button svg .a {
  fill: none;
}

.icon svg {
  fill: var(--color-primary);
}

.indicator-bars {
  position: absolute;
  --w: clamp(150px, 40%, 220px);
  width: var(--w);
  left: calc(50% - var(--w) / 2);
  bottom: 0;
  margin: auto;
}

.indicator-bars .bar {
  --bg: var(--color-grey);
  opacity: 0.3;
  background-color: var(--bg);
  height: 2px;
  flex-basis: 10%;
  border-radius: 20px;
  margin: 0 5px;

  transition-property: width, opacity;
  transition: all var(--duration) ease-in-out calc(var(--duration) / 2);
}

.indicator-bars .bar.active {
  --bg: var(--color-primary);
  opacity: 1;
  flex-grow: 1;
}

/* ==================================== */

.head .sub-head {
  flex-grow: 0.5;
}

.head .sub-head .site-name {
  display: none;
}

/* Section headings (products, blog posts, etc) */
section {
  padding: 2.5rem 1rem;
}

main .header {
  color: var(--color-primary);
  text-align: center;
  font-family: var(--fontPrimarySemi);
  margin: 3rem;
}

.carousel {
  position: relative;
  padding: 0;
}

.carousel.banner::before {
  background-image: none;
}

.carousel .arrows .icon {
  position: absolute;
  bottom: calc(50% - var(--size) / 2);
  --posx: 5%;
  z-index: 5;
}

.carousel .arrows .icon.left {
  left: var(--posx);
}

.carousel .arrows .icon.right {
  right: var(--posx);
}

.carousel-container,
.carousel-container .content,
.carousel-container .content picture {
  width: 100%;
  height: 100%;
}

.carousel-container .content {
  position: absolute;
  top: 0;
  left: 0;
  /*pointer-events: none;*/
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.carousel-container .content.active {
  opacity: 1;
}

.carousel-container .content picture img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: 50% 10%;
}

.carousel-container .content .info {
  position: absolute;
  color: var(--color-white);
  text-shadow: 0px 1px 3px #000;
}

.carousel-container .content .info {
  text-transform: capitalize;
}

.carousel-container .content .info .caption {
  width: 75%;
}

.carousel .indicator-bars {
  bottom: 5%;
}

/* Products section */
.products {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.products .categories {
  padding: var(--spacing);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 4vmax;
}

.products .categories::after {
  content: "";
  --height: 7vmax;
  width: 100%;
  height: var(--height);

  position: absolute;
  top: calc(50% - var(--height) / 2);
  left: 0;

  background-color: var(--color-primary);
  z-index: -1;
}

.products .categories .category {
  /*width: clamp(270px, 100%, 420px);*/
  /*max-width: ;*/
  /*flex-grow: 1;*/
  /*margin: 1rem;*/
  padding: 1rem;
  height: max(170px, 20vmax);

  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--color-white);
}

.products .categories .category .category-info .name {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.products .categories .category .category-info .button {
  padding: 1rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  /*font-size: 70%;*/
  border: 1.5px solid transparent;
  border-radius: calc(var(--radius) / 2);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.products .categories .category .category-info .button:hover {
  color: var(--color-primary);
  background-color: transparent;
  border-color: var(--color-primary);
}

.clientele {
  background-color: var(--color-secondary);
}

.clientele .client-logos picture {
  width: max(100px, 10%);
  height: auto;
  /*max-height: 130px;*/
  margin: 1rem;
  /*object-fit: scale-down;*/
}

.clientele .client-logos img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

/* Popular Blogs section */

/*.blog-posts .popular-posts .heading {
	position: relative;
}

.blog-posts .popular-posts .heading::before,
.blog-posts .popular-posts .heading::after {
	--size: 10px;
	content: "";
	position: absolute;
	top: calc(50% - var(--size) / 2);
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	background-color: var(--color-primary);
}

.blog-posts .popular-posts .heading::before {
	left: 0;
}

.blog-posts .popular-posts .heading::right {
}*/

.blog-posts .popular-posts .post {
  --width: 200px;
  margin: 1.5rem auto;
  text-align: center;
  width: var(--width);
  font-family: fontSecondary;
  /*margin: 1.5rem auto;*/
}

.blog-posts .popular-posts .post > * {
  margin: 0.5rem auto;
}

.blog-posts .popular-posts .post picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center top;
  height: calc(var(--width) + var(--width) * 0.3);
}

.blog-posts .popular-posts .post .post-summary {
  /*max-width: 95%;*/
  color: var(--color-grey);
  font-size: 0.9rem;
}

.blog-posts .popular-posts .post .read-more {
  text-decoration: underline;
}

.highlight {
  background-color: var(--color-secondary);
  position: relative;
}

.highlight::after {
  content: "";
  position: absolute;
  --size: 250px;
  width: var(--size);
  height: var(--size);
  opacity: 0.05;
  bottom: calc(0% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  background-color: var(--color-primary);
  border-radius: 50%;
  pointer-events: none;
}

.highlight .main {
  padding: 1.5rem;
}

.highlight .main > * {
  padding: 1rem;
}

.highlight .main picture img {
  width: 150px;
  height: 100%;
  object-fit: cover;
}

.highlight .main .info {
  width: 70%;
  flex-grow: 1;
  text-align: center;
}

.highlight .main .info .title {
  font-size: max(90%, 3vmin);
  word-spacing: 0.2rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
  font-family: fontPrimarySemi;
}

.highlight .main .info .subtext {
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: var(--color-white);
  font-family: fontSecondary;
}

.highlight .main .info .title,
.highlight .main .info .subtext .emphasis {
  color: var(--color-primary);
}

.highlight .main .info .subtext .emphasis.name {
  text-transform: uppercase;
}

.clients-feedback {
  /*padding: 1rem 1rem 3rem 1rem;*/
  margin: auto;
  position: relative;
}

.clients-feedback .feedback-container {
  position: relative;
  max-width: 700px;
  margin: auto;
  overflow: hidden;
  --duration: 0.3s;
}

.clients-feedback .feedback-container .mention {
  padding: 2rem 1rem 3rem 1rem;
}

/* next and previous mention transitions */
.clients-feedback .feedback-container .mention.is-leaving-ctr,
.clients-feedback .feedback-container .mention.is-leaving-ctl {
  -webkit-transition: all var(--duration) ease-in;
  -moz-transition: all var(--duration) ease-in;
  -ms-transition: all var(--duration) ease-in;
  -o-transition: all var(--duration) ease-in;
  transition: all var(--duration) ease-in;
}

.clients-feedback .feedback-container .mention.is-leaving-ctr,
.clients-feedback .feedback-container .mention.is-entering-rtc {
  opacity: 0.5;
  -webkit-transform: scale(0.5) translateX(110%);
  -moz-transform: scale(0.5) translateX(110%);
  -ms-transform: scale(0.5) translateX(110%);
  -o-transform: scale(0.5) translateX(110%);
  transform: scale(0.5) translateX(110%);
}

.clients-feedback .feedback-container .mention.is-leaving-ctl,
.clients-feedback .feedback-container .mention.is-entering-ltc {
  opacity: 0.5;
  -webkit-transform: scale(0.5) translateX(-110%);
  -moz-transform: scale(0.5) translateX(-110%);
  -ms-transform: scale(0.5) translateX(-110%);
  -o-transform: scale(0.5) translateX(-110%);
  transform: scale(0.5) translateX(-110%);
}

.clients-feedback .feedback-container .mention.is-entering-ltc,
.clients-feedback .feedback-container .mention.is-entering-rtc {
  -webkit-animation: enter var(--duration) ease-out forwards;
  -moz-animation: enter var(--duration) ease-out forwards;
  -ms-animation: enter var(--duration) ease-out forwards;
  -o-animation: enter var(--duration) ease-out forwards;
  animation: enter var(--duration) ease-out forwards;
}

.clients-feedback .feedback-container .mention .client-info {
  align-self: center;
  padding-top: 1rem;
}

.clients-feedback .feedback-container .mention .client-info .photo {
  border-radius: 50%;
  margin-right: 1rem;
  --size: 50px;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
}

.clients-feedback .feedback-container .mention .feedback-text {
  text-align: center;
}

.clients-feedback .feedback-container .mention .details .name {
  color: var(--color-primary);
}

.clients-feedback .feedback-container .mention .details .company {
  color: var(--color-grey);
  font-size: 90%;
}

.clients-feedback .feedback-container .all-feedbacks {
  display: none;
}

.clients-feedback .feedback-container .icon {
  --size: 25px;
  position: absolute;
  top: calc(50% - var(--size) / 2);
  z-index: 2;
}

.clients-feedback .feedback-container .icon.left {
  left: 0;
}

.clients-feedback .feedback-container .icon.right {
  right: 0;
}

/* Screen media queries */

@media screen and (min-width: 768px) {
  .head .sub-head {
    flex-grow: 1;
  }

  .head .sub-head .site-name {
    display: initial;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-primary);
    font-family: fontPrimary;
    margin-left: 1.5rem;
  }

  .head .icon {
    --size: 20px;
  }

  .carousel .arrows .icon {
    --size: 35px;
    --posx: 1%;
  }

  .carousel-container .content .info .caption {
    width: 90%;
  }

  .highlight::after {
    --size: 400px;
  }

  .products .category {
    align-items: flex-end;
    justify-content: flex-end;
  }

  .highlight .main .info {
    text-align: left;
  }

  .blog-posts .popular-posts .post {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .clients-feedback {
    padding-left: 10%;
    padding-right: 10%;
  }

  .clients-feedback .feedback-container .mention {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  /*
	.clients-feedback .feedback-container .mention .client-info {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}*/

  .clients-feedback .feedback-container .mention .client-info .photo {
    --size: 60px;
    /*margin-bottom: .5rem;*/
  }
}

@media screen and (min-width: 1024px) {
  .carousel::before {
    content: none;
  }

  .carousel-container .content > * {
    flex-basis: 50%;
  }

  .carousel-container .content .info {
    position: static;
    height: 100%;
    background-color: #242424;
    color: var(--color-primary);
    text-shadow: none;
  }

  .carousel-container .content .info h4 {
    word-spacing: 0.35rem;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
  }
}

@keyframes enter {
  to {
    opacity: 1;
    -webkit-transform: scale(1) translateX(0%);
    -moz-transform: scale(1) translateX(0%);
    -ms-transform: scale(1) translateX(0%);
    -o-transform: scale(1) translateX(0%);
    transform: scale(1) translateX(0%);
  }
}
